# List, Tuples and Sets

# Lists

List and tuples allows to work wih sequentila data and sets are unordered collection

In [40]:
courses = ["Maths", "History", "Science", "English","arthmetic"]

print(courses)

# length of the list 

print(len(courses))

# Getting particular element 

print(courses[2])

# getting elements in reverse order 

print(courses[-1])


# acessing range of values 

# startIndex --- > inclusive 
# endIndex -----> exclusive 

print(courses[1:3])

['Maths', 'History', 'Science', 'English', 'arthmetic']
5
Science
arthmetic
['History', 'Science']

In [41]:
# Addding item in the list 

courses.append("Arts")  # this will add the value in the end of the list 

print(courses)


# to add the element in the specific location 


courses.insert(2, 'civics')

print(courses)


# if want to add extra list in current list flat addition we use extend 


courses_2 = ["EVS", "craft"]

courses.extend(courses_2)

print(courses)

['Maths', 'History', 'Science', 'English', 'arthmetic', 'Arts']
['Maths', 'History', 'civics', 'Science', 'English', 'arthmetic', 'Arts']
['Maths', 'History', 'civics', 'Science', 'English', 'arthmetic', 'Arts', 'EVS', 'craft']

In [42]:
# removing element from the list 


courses.remove('EVS')

print(courses)

# reverse the list 
courses.reverse()

print(courses)

['Maths', 'History', 'civics', 'Science', 'English', 'arthmetic', 'Arts', 'craft']
['craft', 'Arts', 'arthmetic', 'English', 'Science', 'civics', 'History', 'Maths']

In [43]:
courses.sort()

# if we want to sort in desc order 

courses.sort(reverse=True)
print(courses)

# if we want to create a new copy of the sorted list rather alterning the list 


sortedCourses = sorted(courses)

print(sortedCourses)

['craft', 'civics', 'arthmetic', 'Science', 'Maths', 'History', 'English', 'Arts']
['Arts', 'English', 'History', 'Maths', 'Science', 'arthmetic', 'civics', 'craft']

In [44]:
# finding Min , Max and sum of the list 


nums = [5, 3 , 9, 7, 4, 1]

print(sum(nums))
print(max(nums))
print(min(nums))

29
9
1

In [45]:
for idx,course in enumerate(courses):
    print(idx,course)

0 craft
1 civics
2 arthmetic
3 Science
4 Maths
5 History
6 English
7 Arts

In [46]:
# join the elements of the list 
# return the new string from the method 
new_str = " - ".join(courses)
print(new_str)

# if want to make list from the string 
print(new_str.split(" - "))

craft - civics - arthmetic - Science - Maths - History - English - Arts
['craft', 'civics', 'arthmetic', 'Science', 'Maths', 'History', 'English', 'Arts']

# Tuples

In [51]:
# As like lists they are also the collection of the elements but we cannot alter the tuples as list 


#! Tupples arre immutable in nature 

hobbies = ("cricket", "football")
print(hobbies[0])

hobbies[0] = "cooking"
print(hobbies)



list_1 = ["arts","maths", "science"]
list_2 = list_1

list_1[0] = "history"

print(list_1)
print(list_2)

cricket

TypeError: 'tuple' object does not support item assignment

# Sets

In [ ]:
# collection of values which are unordered and no duplicates are termed as sets

courses_sets = {"arts", "mathametics", "english"}

print(courses_sets)

{'arts', 'mathametics', 'english'}

In [57]:
cs_courses = {'Maths', 'CompSci', 'Physics', 'History'}
art_courses = {'Arts', 'History', 'Design'}

#!  common elelent in both the sets

print(cs_courses.intersection(art_courses))


#  Different courses 

print(cs_courses.difference(art_courses))

# uninon of sets 

print(cs_courses.union(art_courses))

{'History'}
{'Physics', 'CompSci', 'Maths'}
{'History', 'Physics', 'CompSci', 'Maths', 'Design', 'Arts'}